<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	
	<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	
	
body {
  background-image: url("{{ url_for('static',filename='images/allot13.jpg')}}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}


.w3-lobster {
  font-family: "Lobster", serif;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.button {
  
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
	background-color: #ffc100;
  
  color: black; 
}

.button1:hover {
  background-color: red;
  color: white;
}
.row1{
	margin-left: 5%;
}
.gen{
	padding: 20px;
}
.gen1{
	padding: 60px;
}
</style>

</head>
<body>


	<!-- Navbar -->
<nav class="navbar  navbar-dark bg-dark fixed-top p-2 pl-3">
  <a class="navbar-brand" href="#"><h2>Welcome</h2> </a>
  <div class="row">
        <div class="col-md-3"></div><form action="/page1"><button class="button button1 pr-3 mr-2" style="font-size: 20px;">Home</button></form>
        <div class="col-md-3" style="margin-right:40px;"><form action="/logout"><button class="button button1 pr-3 mr-2" style="font-size: 20px;">Logout</button></form></div>
  </div>

</nav>
<br><br><br>
<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
{% endwith %}
</div>
	<!-- Option entry module -->
<br><br>
	
		
			<div class="w3-container w3-lobster w3-center" style="text-shadow: 3px 2px red;">
			<p style="font-size: 60px;">Group Allotment</p>
			</div>
		
	<br><br>	
		
	<!-- Group B option Entry -->
	
			<div class="w3-container w3-black w3-center w3-allerta">
			<p style="font-size: 45px;">Group B</p>
			</div>

	<div class="container" style="height:300px;overflow-y: scroll;">
		<br>
	
    <img src="{{ url_for('static',filename='images/search1.jpg')}}"  style="height: 30px;width: 35px;">
    <input class=" w3-myfont " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names or USN..." style="height: 30px;width: 230px;">
	<br>
  	<table class="table table-hover" id="myTable" style=" background-color:rgba(238, 107, 216, 0.5);">
    <thead class="text-center">
      <tr>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">USN</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Name</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Email</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Phone</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Section</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; "></p></div></th>
      </tr>
    </thead>
    <tbody>
      
      	{% for i in post %}
			{% if i.GA=='B' and i.status==0 and i.usn not in post2 %}
				<form method="post" action="/page2">
				<tr class="zoom">
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;"><input  type="text" name="B" value={{i.usn}} hidden="">{{i.usn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.name}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.email}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.phn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.sec}}</p></div></td>
				<td><p><button class="w3-button w3-blue w3-border w3-hover-khaki">Invite</button></p></td>
				</tr>
				
				</form>
			{% endif %}
	{% endfor %}
    </tbody>
  </table>
</div>		
<br>	
<!-- Option Entry for group C -->

			<div class="w3-container w3-black w3-center w3-allerta">
			<p style="font-size: 45px;">Group C</p>
			</div>

			
	<div class="container" style="height:300px;overflow-y: scroll;">
		<br>
		<img src="{{ url_for('static',filename='images/search1.jpg')}}"  style="height: 30px;width: 35px;" >
    <input class=" w3-myfont " type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Search for names or USN.." style="height: 30px;width: 230px;">
	<br>
  	<table class="table table-hover" id="myTable1" style=" background-color:rgba(83, 145, 255, 0.5);">
    <thead class="text-center">
      <tr>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">USN</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Name</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Email</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Phone</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Section</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; "></p></div></th>
      </tr>
    </thead>
    <tbody>
      
      	{% for i in post %}
			{% if i.GA=='C' and i.status==0 and i.usn not in post2 %}
				<form method="post" action="/page2">
				<tr>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;"><input  type="text" name="C" value={{i.usn}} hidden="">{{i.usn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.name}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.email}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.phn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.sec}}</p></div></td>
				<td><p><button class="w3-button w3-blue w3-border w3-hover-khaki">Invite</button></p></td>
				</tr>
				
				</form>
			{% endif %}
	{% endfor %}
    </tbody>
  </table>
</div>
<br>
<!-- Option Entry for group D -->

			
			<div class="w3-container w3-black w3-center w3-allerta">
			<p style="font-size: 45px;">Group D</p>
			</div>

			
	<div class="container" style="height:300px;overflow-y: scroll;">
		<br>
		
		<img src="{{ url_for('static',filename='images/search1.jpg')}}"  style="height: 30px;width: 35px;" >
    <input class=" w3-myfont" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for names or USN.." style="height: 30px;width: 230px;">
	<br>
  	<table class="table table-hover" id="myTable2" style=" background-color:rgba(255, 99, 71, 0.5);">
    <thead class="text-center">
      <tr>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">USN</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Name</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Email</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Phone</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; ">Section</p></div></th>
        <th class="w3-center"><div class=" w3-lobster "><p style="font-size: 22px; "></p></div></th>
      </tr>
    </thead>
    <tbody>
      
      	{% for i in post %}
			{% if i.GA=='D' and i.status==0 and i.usn not in post2 %}
				<form method="post" action="/page2">
				<tr class="zoom">
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;"><input  type="text" name="D" value={{i.usn}} hidden="">{{i.usn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.name}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.email}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.phn}}</p></div></td>
				<td  class="w3-center"><div class=" w3-myfont "><p style="font-size: 19px;">{{i.sec}}</p></div></td>
				<td><p><button class="w3-button w3-blue w3-border w3-hover-khaki">Invite</button></p></td>
				</tr>
				
				</form>
			{% endif %}
	{% endfor %}
    </tbody>
  </table>
</div>	


<!-- For genertaing log -->
		
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    if (td || td1) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function myFunction1() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput1");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable1");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    if (td || td1) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function myFunction2() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable2");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    if (td || td1) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>
